### If - elif - else statements

Syntax of an if/else statement
    if some_condition:
        	# execute some code
    elif some_other_condition:
            # do something different
    else:
            # do something else!

In [3]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print('Im not hungry')

Im not hungry

In [4]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print('Im not hungry')

FEED ME!

In [8]:
loc = 'Store'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print("Money is cool!")
elif loc == 'Store':
    print('Welcome to the store')
else:
    print("I do not know much")

Welcome to the store

### For Loops in Python

Many objects in Python are “iterable”, meaning we can iterate over every element in the object.<br>
Such as every element in a list or every character in a string.<br>
We can use for loops to execute a block of code for every iteration.<br>
The term iterable means you can “iterate” over the object.<br>
For example you can iterate over every character in a string, iterate over every item in a list, iterate over every key in a dictionary.

Syntax of a for loop

my_iterable = [1,2,3]
    for item_name in my_iterable: 
        print(item_name)
>> 1
>> 2
>> 3

In [12]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [13]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [20]:
#Check for even numbers in the list
for num in mylist:
    if num % 2 == 0:
        print(f'Even number:{num}')
    else:
        print(f'Odd number:{num}')

Odd number:1
Even number:2
Odd number:3
Even number:4
Odd number:5
Even number:6
Odd number:7
Even number:8
Odd number:9
Even number:10

In [24]:
list_sum = 0
print(mylist)
for num in mylist:
    list_sum += num
    print(list_sum)

print(f'Total sum:{list_sum}')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
3
6
10
15
21
28
36
45
55
Total sum:55

In [25]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [27]:
mystring = 'Hello World'

for _ in mystring:
    print(_)

H
e
l
l
o

W
o
r
l
d

In [29]:
tup = (1,3,5)

for item in tup:
    print(item)

1
3
5

In [39]:
#Let's see tuple unpacking

mytup = [(1,2),(3,4),(5,6),(7,8)]

for a,b in mytup:
    print('This is first element:')
    print(a)
    print('This is second element:')
    print(b)

This is first element:
1
This is second element:
2
This is first element:
3
This is second element:
4
This is first element:
5
This is second element:
6
This is first element:
7
This is second element:
8

In [45]:
mytup1 = [(1,2,3),(4,5,6),(7,8,9)]

for x,y,z in mytup1:
    print(x)

1
4
7

In [47]:
d = {'k1':1, 'k2':2, 'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [51]:
d = {'k1':1, 'k2':2, 'k3':3}
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [58]:
d = {'k1':1, 'k2':2, 'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [61]:
d = {'k1':1, 'k2':2, 'k3':3}

for key,value in d.items():
    print(key,value)

k1 1
k2 2
k3 3